<?php include 'views/_header.html'?>
        <div class="main">
            <div class="wrap">
                <div class="container-fluid">
                    <div class="row">

                        <div class="col-md-3">
                            <div class="profile">
                                <div class="block">
                                    <ul class="info">
                                        <li>
                                            <img src="../pic/3.jpg" alt="">
                                        </li>
                                        <li>
                                            <span>Andy</span>
                                        </li>
                                    </ul>
                                    <hr>
                                    <ul class="menu">
                                        <li>
                                            <a href="profile.html">我的资料</a>
                                        </li>
                                        <li>
                                            <a href="posts.html">我的帖子</a>
                                        </li>
                                        <li>
                                            <a href="account.html">账户设置</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-9">
                            <div class="secondary">
                                <div class="block">
                                    <div class="crumbs">
                                        <span>我的资料</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
<?php include 'views/_footer.html'?>